.box{
    border-radius: 2px;
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    
}

.btn{
    position: absolute;
    width: 30px;
    cursor: pointer;
}

.box span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background: #ffffff;
    transition: all .3s;
    position: relative;
}

span + span {
    margin-top: 10px;
}

.active span:nth-child(1){
    animation: ease .7s top forwards;
}
.not-active span:nth-child(1){
    animation: ease .7s top-2 forwards;
}
.active span:nth-child(2){
    animation: ease .7s scaled forwards;
}
.not-active span:nth-child(2){
    animation: ease .7s scaled-2 forwards;
}
.active span:nth-child(3){
    animation: ease .7s bottom forwards;
}
.not-active span:nth-child(3){
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0)
    }
    50% {
        top: 5px;
        transform: rotate(0);
    }
    100%{
        top: 5px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg)
    }
    50% {
        top: 22px;
        transform: rotate(0);
    }
    100%{
        top: 0;
        transform: rotate(0);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100%{
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100%{
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {

        transform: scale(0);
    }
    50% {

        transform: scale(0);
    }
    100%{

        transform: scale(1);
    }
}

.dropdown {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
  }

.box-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.box-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}