@font-face {
    font-family: "Inter_Regular";
    src: url(../fonts/Inter_Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: "Inter_Regular", sans-serif;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    max-width: 1900px;
    padding: 15px;
}

.nav {
    display: flex;
    padding-top: 12px;
}

.btn-nav{
    background: none;
    border: none;
    color: #FFF;
    width: 50px;
    height: 20px;
    font-size: 20px;
}   
.nav-items{
    margin-left: 720px;
}
.nav-items ul{
    display: flex;
    gap: 26px;
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: #fff;
}
.header-field-image {
    /* position: relative; */
}

.header-field-sergeev{
    position: absolute;
    top: 20%;
    left: 1%
}

.header-field-logo{
    position: absolute;
    top: 15%;
    left: 35%;
}
.header-field-voinov{
   position: absolute;
    top: 18%;
    left: 70%;
    
}