@font-face {
    font-family: "Inter_Regular";
    src: url(../fonts/Inter_Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: "Inter_Regular", sans-serif;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    /* background-image: url(../image/back.png);
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    height: 100vh;
    margin: 0 auto;
    max-width: 1900px;
}

.header-back-img{
    position: absolute;
    max-width: 100%;
    width: 1900px;
    z-index: -1;
}

.hide-back{
    display: none;
}

.nav {
    padding-top: 12px;
    width: 100%;
}

.btn-nav{
    background: none;
    border: none;
    color: #FFF;
    width: 50px;
    height: 20px;
    font-size: 20px;
}   

.nav-items ul{
    justify-content: center;
    display: flex;
    gap: 26px;
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: #fff;
}
.header-field-image {
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.header-field-logo{
    max-width:400px;
    margin-top: 6%;
    z-index: -1;

}

.preloader{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img{
    width: 500px;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  @media screen and (max-width:1000px)   {
    .btn-nav{
        font-size: 18px;
    }   

    .nav-item{
        font-size: 14px;
    } 

    .header-field-logo{
        max-width:300px;
    
    }
    
  }

  @media screen and (max-width:800px)   {
    .btn-nav{
        font-size: 14px;
    }  
    
    .nav-item{
        font-size: 11px;
    } 

    .header-field-logo{
        max-width:200px;
    
    }

  }

  @media screen and (max-width:650px)   {
    .btn-nav{
        font-size: 12px;
    }  

    .nav-items ul{
        gap: 18px;
    }
    
    .nav-item{
        font-size: 8px;
    } 

    .header-field-logo{
        max-width:150px;
    
    }
  }

  @media screen and (max-width:500px)   {
    .nav {
        padding-top: 1px;
    }

    .btn-nav{
        font-size: 8px;
        width: 15px;
        height: 5px;
    }  

    .nav-items ul{
        gap: 11px;
    }
    
    .nav-item{
        font-size: 6px;
    } 

    .header-field-logo{
        max-width:100px;
    
    }

    .header-back-img{
        display: none;
    }
    .hide-back{
        display: inline-block;
        position: absolute;
        max-width: 100%;
        width: 1900px;
        z-index: -1;
    }
  }

  @media screen and (max-width:380px)   {
    .nav {
        padding-top: 1px;
    }
    
    .btn-nav{
        font-size: 4px;
        width: 15px;
        height: 5px;
    }  

    .nav-items ul{
        gap: 11px;
    }
    
    .nav-item{
        font-size: 4px;
    } 

    .header-field-logo{
        max-width:70px;
    
    }

  }


