.people-anim1 {
    animation-name: animation-people-grid;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}


@keyframes animation-people-grid {
    from{
        transform: translatex(0px);
        transform: translatey(0px);
    }

    25% {
        transform: translatex(100px);
        transform: translatey(-30px);
    }

    50%{
        transform: translatex(50px);
    }

    70%{
        transform: translatex(-50px);
        transform: translatey(-10px);
    }

    to{
        transform: translatex(0px);
        transform: translatey(0px);
    }
}